<main class="main">
    <section class="section1 search__box">
        <form class="form">
            <input type="text" class="form__input--search js_inputSearch" placeholder="Example: Olu Mel">
            <input type="submit" class="form__input--btn js_btnSearch" value="Search">
        </form>
    </section>
    <section class="section2">
        <h3 class="section2__title">Characters ❤︎ </h3>
        <ul class="list js_list">
            <!-- <li id="" class="card">
                <article class="character__box">
                    <img class="character__img js_img"
                        src="https://static.wikia.nocookie.net/disney/images/8/81/Sofia_the_First_Gavin.png"
                        alt="Disney Characters: Gavin" />
                    <p class="character__name js_name">Gavin</p>
                </article>
            </li>
            <li id="" class="card">
                <article class="character__box">
                    <img class="character__img js_img"
                        src="https://static.wikia.nocookie.net/disney/images/9/9a/Profile_-_Gazelle.jpeg"
                        alt="Disney Characters: Gazelle" />
                    <p class="character__name js_name">Gazelle</p>
                </article>
            </li>
            <li id="" class="card">
                <article class="character__box">
                    <img class="character__img js_img"
                        src="https://static.wikia.nocookie.net/disney/images/7/77/Newton_Gearloose.jpg"
                        alt="Disney Characters: Newton Gearloose" />
                    <p class="character__name js_name">Newton Gearloose</p>
                </article>
            </li>
            <li id="" class="card">
                <article class="character__box">
                    <img class="character__img js_img"
                        src="https://static.wikia.nocookie.net/disney/images/e/e2/E22_73.jpg"
                        alt="Disney Characters: Sir Gawain" />
                    <p class="character__name js_name">Sir Gawain</p>
                </article>
            </li>
            <li id="" class="card">
                <article class="character__box">
                    <img class="character__img js_img"
                        src="https://static.wikia.nocookie.net/disney/images/0/0d/Gazeem.jpg"
                        alt="Disney Characters: Gazeem " />
                    <p class="character__name js_name">Gazeem</p>
                </article>
            </li> -->
        </ul>
    </section>

</main>