<main class="main">
    <section class="section1 search__box">
        <form class="form">
            <input type="text" class="form__input--search js_inputSearch" placeholder="Example: Olu Mel">
            <input type="submit" class="form__input--btn js_btnSearch" value="Search">
        </form>
    </section>
    <div class="main__section">
        <aside class="favorites">
            <h3 class="favorites__title">Favorites ❤︎ </h3>
            <ul class="favorites__list js_list_fav">
                <!-- <li id="" class="card_fav">

                    <article class="character__box">
                        <img class="character__img js_img"
                            src="https://static.wikia.nocookie.net/disney/images/8/81/Sofia_the_First_Gavin.png"
                            alt="Disney Characters: Gavin" />
                        <p class="character__name js_name">Gavin</p>
                    </article>
                </li> -->
            </ul>
            <div class="reset js-reset"><button class="reset__btn js_resetBtn">DELETE</button></div>
        </aside>
        <section class="section2">
            <h3 class="section2__title">Characters ❤︎ </h3>
            <ul class="list js_list">
                <!-- <li id="" class="card">
                    <article class="character__box">
                        <img class="character__img js_img"
                            src="https://static.wikia.nocookie.net/disney/images/8/81/Sofia_the_First_Gavin.png"
                            alt="Disney Characters: Gavin" />
                        <p class="character__name js_name">Gavin</p>
                    </article>
                </li> -->
            </ul>
        </section>
    </div>

</main>