<main class="main">
    <section class="section1 search__box">
        <form class="form">
            <input type="text" class="form__input--search js_inputSearch" placeholder="Example: Olu Mel">
            <input type="submit" class="form__input--btn js_btnSearch" value="Search">
        </form>
    </section>
    <div class="main__section">
        <aside class="favorites">
            <h3 class="favorites__title">Favorites ❤︎ </h3>
            <ul class="favorites__list js_list_fav">
            </ul>
            <div class="reset js-reset"><button class="reset__btn js_resetBtn">DELETE</button></div>
        </aside>
        <section class="section2">
            <h3 class="section2__title">Characters ❤︎ </h3>
            <ul class="section2__list js_list">
            </ul>
        </section>
    </div>

</main>