// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-primary: purple;
$color-secondary: lightseagreen;
$color-secondary-two: lightpink;
$color-secondary-three: #0e5f5b;
$color-secondary-four: rgba(32, 178, 171, 0.387);
$color-white: white;
$color-grey-one: gray;