.footer {
    width: 100%;
    background-color: purple;
    color: white;
    height: 30px;
    font-family: $font-main;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 0 20px;

    &__text {
        font-weight: bold;
    }
}

.quote {
    font-style: italic;
}