.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__section {
        display: flex;
        flex-direction: row;
    }
}

.favorites {
    padding: 10px 0 40px 40px;
    text-align: center;
    width: 20vw;

    &__title {
        color: lightseagreen;
        padding-bottom: 15px;
    }

}

.section1 {
    width: 70vw;
    height: 70px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    background-color: white;
    box-shadow: 0 2px 4px lightpink;
    //border: 3px yellow dotted;
    margin-top: -35px;
}

.form {
    &__input--search {
        width: 40vw;
        height: 30px;
        border: 2px purple dotted;
    }

    &__input--btn {
        width: 80px;
        height: 30px;
        background-color: purple;
        color: white;
        border-radius: 15px;
        border: none;
    }
}

.section2 {
    padding: 10px 0 40px;
    text-align: center;
    width: 80vw;

    &__title {
        color: purple;
        padding-bottom: 15px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.favorites__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 250px;
    height: 350px;
    box-shadow: 0 1px 2px lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.card__fav {
    width: 250px;
    height: 350px;
    box-shadow: 0 1px 2px lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 178, 171, 0.387);
    text-align: center;
    cursor: pointer;
}

.character__img {
    width: 80%;
    height: 250px;
    object-fit: cover;
}