.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__section {
        display: flex;
        flex-direction: row;
        padding: 0 40px;
    }
}

.favorites {
    padding: 10px 0 40px 40px;
    text-align: center;
    width: 30vw;

    &__title {
        color: lightseagreen;
        padding-bottom: 15px;
        margin: 0 25px;
        border-bottom: lightseagreen 1px dotted;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;

    }
}

.section1 {
    width: 70vw;
    height: 70px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    background-color: white;
    box-shadow: 0 2px 4px lightpink;
    margin-top: -35px;
}

.form {
    &__input--search {
        width: 40vw;
        height: 30px;
        border: 2px purple dotted;
    }

    &__input--btn {
        width: 80px;
        height: 30px;
        background-color: purple;
        color: white;
        border-radius: 15px;
        border: none;
    }
}

.section2 {
    padding: 10px 0 40px;
    text-align: center;
    width: 70vw;

    &__title {
        color: purple;
        padding-bottom: 15px;
        margin: 0 25px;
        border-bottom: purple 1px dotted;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.card {
    width: 250px;
    height: 350px;
    box-shadow: 0 1px 2px lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.card__fav {
    width: 250px;
    height: 350px;
    box-shadow: 0 1px 2px lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0e5f5b;
    background-color: rgba(32, 178, 171, 0.387);
    text-align: center;
    cursor: pointer;
}

.character {
    &__img {
        width: 80%;
        height: 250px;
        object-fit: cover;
    }

    &__name {
        padding-top: 15px;
    }
}

.reset {
    height: 80px;
    margin-top: 20px;

    &__btn {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: gray;
        color: white;
        cursor: pointer;
    }
}